.sort-container {  
  width: 200px;
  height: 30px;
  margin: 15px;
  position: relative;
}
.sort-label {
  position: absolute;
  top: 5px;
  width: 75px;
  font-size: 1em;
  color: #555;
}
.sort-selected {
  position: absolute;
  right: 10px;
  top: 0;
  width: 100px;
  min-height: 20px;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
}
.sort-selected > a:first-child {
  flex: 2;
}
.caret-down {
  color: #777;
  transform: scale(0.8);
  cursor: pointer;
}
.sort-list {
  position: absolute;
  right: 10px;
  width: 130px;
  z-index: 1;
  background-color: #777;
  border-radius: 5px;
  padding: 5px 0;
}
ul {
  margin: 0px;
  padding: 0px;
}
.sort-items {   
  width: 100%;
}
.sort-items > li {
  height: 25px;
  list-style: none;
}
.sort-items > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff; 
  font-size: 1em; 
  text-decoration: none;
}
.sort-items > li > a > span {
  padding: 0 15px;
}
.sort-items > li > a:hover {
  background-color: #aaa;
  color: #f1f1f1;
}