.Loading {
  font-size: 1.2em; 
  width: 100%; 
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0099CC;
}
.Loading span {
  font-weight: bold;
  margin:2px;
  width: 5px;
  height: 5px;
  margin-top: 10px;
  border-radius: 50%;
  vertical-align: bottom;
  -webkit-animation-name: example; 
  -webkit-animation-duration: 1s; 
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.Loading span:nth-child(1) {
  margin-left: 5px;
  animation-delay: 0.25s;
}
.Loading span:nth-child(2) {
  animation-delay: 0.5s;
}
.Loading span:nth-child(3) {
  animation-delay: 0.75s;
}
@-webkit-keyframes example {
  from {background-color: #0099CC;}
  to {background-color: transparent;}
}

@keyframes example {
  from {background-color: #0099CC;}
  to {background-color: transparent;}
}