.Container {
  margin: 10px;
  padding: 10px;
}
.Sort-label {
  font-size: 1em;
  color: #555;
}
.Sort-list {
  background-color: #444;
  border-radius: 5px;
  padding:5px 10px;
}
.Sort-items {

}
.Sort-items > li {
  color: #ddd;
  font-size: 1em;
  list-style-type: none;
}
.Sort-items > li: hover {
  background-color: #999;
  color: #ddd;
}

